extends layout
block content
 
  
  if errors
    ul.my-errors
      for error in errors
        li= error.msg
  
  form(action="./login" method="POST")
    
    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"
      value=""
    )
    br 
    br
    label(for="password") Password:
    input(
      type="password"
      id="password"
      name="password"
      class="form-control"
      value=""
    )
    
    br 
    br
    input(
    type="submit" value="Submit"
    class="btn btn-lg btn-primary btn-block"
    )